.titulologar {
    color: #ffffff; // Substitua #ff0000 pela cor desejada em formato hexadecimal, RGB, ou nome da cor.
    text-align: center;
    font-size: 200%;

  }

  .tituloemail{
    color: #ffffff; // Substitua #ff0000 pela cor desejada em formato hexadecimal, RGB, ou nome da cor.
    font-size: 100%;
  }

  .iconesenha{
      font-size: 130%;
  }

  .iconeemail{
    font-size: 130%;
}

  .titulosenha{
    color: #ffffff; // Substitua #ff0000 pela cor desejada em formato hexadecimal, RGB, ou nome da cor.
    font-size: 100%;
  }

  .iconecaixinhabemvindo{
    color: purple;
  }